body {
    background-image: url('https://www.hdwallpapers.in/download/desert_landscape_with_background_of_starry_sky_during_nighttime_hd_nature-HD.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}